/* Import in your CSS */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  font-family: "Merienda", cursive;
}

.blur {
  filter: blur(10px);
}

.pop-up-form {
  display: none;
  position: fixed;
  top: 100px;
  left: 100px;
  border: 3px solid black;
  z-index: 100;
  height: 300px;
  padding: 20px;
  background-color: white;
  filter: blur(0px);
}

#login-form {
  margin: 30px;
}

main {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: azure;
  height: 100vh;
  width: 100vw;
  border-image-source: linear-gradient(rgb(113, 2, 2), rgb(223, 223, 225));
  border-style: solid;
  border-width: 10px;
  border-image-slice: 1;
}

.change-body {
  background-color: beige;
}

.change-body-dark {
  background-color: rgb(126, 115, 115);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

h1 {
  font-size: 3rem;
}

#button-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 1rem;
  padding: 5rem;
  border-image-source: linear-gradient(rgb(113, 2, 2), rgb(223, 223, 225));
  border-style: solid;
  border-width: 7px;
  border-image-slice: 1;
  width: 75vw;
}

#top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

#middle-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

#bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.sound-button {
  width: 150px;
  height: 150px;
  border-radius: 25%;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  font-size: 1.2rem;
  font-weight: normal;
  position: relative;
  text-transform: capitalize;
  /* Adjust dot spacing */
  background-size: 40px 40px; 
  background-position: center;
  background-image: radial-gradient(rgb(255, 255, 255) 10%, transparent 10%), /* tiny dots */
  radial-gradient(rgb(255, 255, 255) 10%, transparent 10%);
  background-size: 10px 10px, 10px 10px;
}

.sound-button:hover {
  width: 170px;
  height: 170px;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 0, 255, 0.6);
  transition: all 0.3s ease;
  font-size: 1.8rem;
  font-weight: bold;
}

.sound-button:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
}

#happy-button {
  background-color: rgb(235, 235, 157);
  
}
#happy-button:hover {
  background-color: rgb(236, 236, 68);
}

#calm-button {
  background-color: rgb(171, 244, 244);
}
#calm-button:hover {
  background-color: aqua;
}

#neutral-button {
  background-color: rgb(184, 239, 166);
}
#neutral-button:hover {
  background-color: rgb(153, 229, 91);
}

#sad-button {
  background-color: rgb(207, 204, 204);
}
#sad-button:hover {
  background-color: grey;
}

#angry-button {
  background-color: rgb(236, 160, 160);
}
#angry-button:hover {
  background-color: red;
}

#new-form-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  gap: 5px;
  border-width: 2px;
  border-style: dashed;
  border-color: black;
  border-image-source: linear-gradient(rgb(113, 2, 2), rgb(223, 223, 225));
  border-style: solid;
  border-width: 4px;
  border-image-slice: 1;
}

@media (max-width: 600px) {
  main {
    border-style: none;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: azure;
  }

  header {
    flex-direction: column;
    height: 5%;
    gap: 0;
  }

  #button-section {
    justify-content: center;
    border-style: none;
  }
  #top-section {
    gap: 1rem;
  }
  #middle-section {
    gap: 1rem;
  }
  #bottom-section {
    gap: 1rem;
  }
}
