/* Import in your CSS */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  background-color: peru;
}

.sound-button {
  width: 100px;
  height: 100px;
}


#happy-button {
  color: yellow;
}

#calm-button {
  color: aqua;
}

#neutral-button {
  color: whitesmoke;
}

#sad-button {
  color: grey;
}

#angry-button {
  color: red;
}

.change-body{
  background-color: azure;
}

